h9{
    margin-right: 20px;
}
.Detailed_View{
    margin-top: 4px;
    padding: 3px 21px 4px 18px;
    border: 1px solid lightgray;
    margin-right: 4px;
    margin-left: 10px;
    border-radius: 7px !important;
    background-color: #fff;
    margin-left: 224px;
    
}
h8{
    padding: 10px;
    position: relative;
    top: 24px;
    font-size: smaller;
    font-weight: bold;
}
hr{
    margin-left: 0px;
}
.Note{
    position: relative;
    font-size: smaller;
    font-weight: bold;
    
    top: 69px;
}
p{
    padding-left: 14px;
    padding-bottom: 4px;
    font-size: smaller;
    font-weight: bold;
}

span{
    opacity: 0.5;
}
.btn_{
    margin-top: 104px;
    height: 35px;
    font-size: smaller;
    font-weight: bold;
}
.download{
    position: relative;
    right: -10px;
    width: 29px;
    height: 21px;
    /* top: 4px; */
    bottom: -7px;
    font-size: smaller;
    font-weight: bold;
    color: DodgerBlue;
}